<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                AU_Rides
            </div>
            <div class="menu">
                <a href="/">Home</a>
                <a href="/ride">Rides</a>
                <a href="/rentals">Rentals</a>
                {% if logged_in %}
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a>
                {% endif %}
            </div>
        </nav>
        <section class="h-text">
            <span>Discover</span>
            <h1> Your ultimate transportation solution!</h1>
            <p>Experience convenience with AU Rides</p>
            <br>
        </section>
    </header>
</body>
</html>